# Capstone Project - The Battle of Neighborhoods

Introduction/Business Problem:
    City crime rates are a metric used in attracting new residents, has implications for schools, real estate prices, and general safety and wellbeing of the city's population.  City governments are interested in reducing crime rates in order to attact new residents which in turn will generate more tax revenue from income and spending.  A potential means for decreasing crime rate is to look what businesses tend to be in businesses with higher crime rates can compare to cities with lower crime rates.  As potential business space becomes available within a high-crime city, the city's government could try and lure specific business types in hope to try and mimic a business distribution similar to that of a lower-crime city.

Data: Data will be scraped from Numbeo.com, a website that aggregates crime data for 300+ cities around the world.  For those cities, I will use Google Geocoding API to obtain latitude and longitude values.  I will then use Foursquare to obtain a list of businesses within the city limits and calculate the frequency of each business type.  I will then cluster the cities together based on business frequency and crime index.  Ideally there will be a pattern that will emerge of cities with lower crime indices with certain types of businesses while cities with higher crime indices will have a different set of businesses.

In [1]:
#https://www.numbeo.com/crime/rankings_current.jsp

In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup


website_url = requests.get('https://www.numbeo.com/crime/rankings_current.jsp').text
soup = BeautifulSoup(website_url,'lxml')

In [3]:
#soup

In [4]:
My_table = soup.find('table',{'class':'stripe row-border order-column compact'})
#My_table

In [5]:
print('Wikipedia Table located')

links = My_table.findAll('td')
#links

#print('Wikipedia Table-Elements located')

Wikipedia Table located

In [6]:
City = []
CrimeIdx = []
SafetyIdx = []
i = 0
for link in links:
    i = i+1
    if i == 2:
        City.append(link.text)
    elif i == 3:
        CrimeIdx.append(link.text)
    elif i == 4:
        SafetyIdx.append(link.text.replace("\n",""))
        i = 0

#print(City)
#print(CrimeIdx)
#print(SafetyIdx)

In [7]:
crime_df = pd.DataFrame({'City':City,'CrimeIdx':CrimeIdx,'SafetyIdx':SafetyIdx})
crime_df = crime_df.reindex(['City','CrimeIdx','SafetyIdx'], axis=1)

crime_df

                                   City CrimeIdx SafetyIdx
0                    Caracas, Venezuela    83.10     16.90
1              San Pedro Sula, Honduras    82.47     17.53
2        Pietermaritzburg, South Africa    82.35     17.65
3                     Fortaleza, Brazil    80.50     19.50
4                Pretoria, South Africa    80.47     19.53
5            Johannesburg, South Africa    80.28     19.72
6        Port Moresby, Papua New Guinea    79.95     20.05
7                      Salvador, Brazil    79.75     20.25
8                  Durban, South Africa    79.64     20.36
9                        Recife, Brazil    78.60     21.40
10                 Porto Alegre, Brazil    77.96     22.04
11               Rio de Janeiro, Brazil    77.89     22.11
12   Port of Spain, Trinidad And Tobago    76.90     23.10
13         Port Elizabeth, South Africa    75.98     24.02
14                   Almaty, Kazakhstan    72.36     27.64
15            San Salvador, El Salvador    72.15     27.85
16                    Sao Paulo, Brazil    71.87     28.13
17           Detroit, MI, United States    71.84     28.16
18                    Windhoek, Namibia    71.45     28.55
19         Baltimore, MD, United States    71.25     28.75
20              Cape Town, South Africa    69.87     30.13
21                San Juan, Puerto Rico    69.82     30.18
22       Albuquerque, NM, United States    68.78     31.22
23                           Lima, Peru    68.54     31.46
24                    Kingston, Jamaica    68.47     31.53
25    Santo Domingo, Dominican Republic    68.34     31.66
26                  Mexico City, Mexico    68.09     31.91
27                     Campinas, Brazil    67.17     32.83
28       Saint Louis, MO, United States    67.16     32.84
29                    Dhaka, Bangladesh    67.11     32.89
..                                  ...      ...       ...
292                      Minsk, Belarus    24.12     75.88
293                 Copenhagen, Denmark    23.83     76.17
294                       Bursa, Turkey    23.58     76.42
295                 Ljubljana, Slovenia    22.76     77.24
296                      Merida, Mexico    22.74     77.26
297                     Vienna, Austria    22.59     77.41
298                   Helsinki, Finland    22.58     77.42
299                    Yerevan, Armenia    22.37     77.63
300                Singapore, Singapore    22.24     77.76
301                   Trondheim, Norway    22.04     77.96
302                    Aalborg, Denmark    21.39     78.61
303                Cluj-Napoca, Romania    21.36     78.64
304                 Canberra, Australia    21.14     78.86
305                  Reykjavik, Iceland    20.62     79.38
306                    Tallinn, Estonia    20.52     79.48
307                    Tbilisi, Georgia    19.61     80.39
308                Hong Kong, Hong Kong    19.32     80.68
309                 Zurich, Switzerland    18.27     81.73
310                     Rijeka, Croatia    18.04     81.96
311                   Eskisehir, Turkey    17.19     82.81
312                  Basel, Switzerland    17.13     82.87
313           Irvine, CA, United States    17.08     82.92
314         Dubai, United Arab Emirates    16.92     83.08
315                     Munich, Germany    16.91     83.09
316                        Tokyo, Japan    16.54     83.46
317                      Taipei, Taiwan    15.76     84.24
318                        Osaka, Japan    15.07     84.93
319                 Quebec City, Canada    14.72     85.28
320                         Doha, Qatar    12.41     87.59
321     Abu Dhabi, United Arab Emirates    11.44     88.56

[322 rows x 3 columns]

In [8]:
!conda install -c conda-forge folium=0.5.0 --yes

Fetching package metadata .............
Solving package specifications: .

Package plan for installation in environment /opt/conda/envs/DSX-Python35:

The following NEW packages will be INSTALLED:

    altair:  2.2.2-py35_1 conda-forge
    branca:  0.3.1-py_0   conda-forge
    folium:  0.5.0-py_0   conda-forge
    vincent: 0.4.4-py_1   conda-forge

altair-2.2.2-p 100% |################################| Time: 0:00:00  54.91 MB/s
branca-0.3.1-p 100% |################################| Time: 0:00:00  34.21 MB/s
vincent-0.4.4- 100% |################################| Time: 0:00:00  38.85 MB/s
folium-0.5.0-p 100% |################################| Time: 0:00:00  45.30 MB/s

In [9]:
import folium
import matplotlib.cm as cm
import matplotlib.colors as colors
#from geopy.geocoders import Nominatim

#address = 'Toronto, Canada'

#geolocator = Nominatim()
#location = geolocator.geocode(address)
#latitude = location.latitude
#longitude = location.longitude

map = folium.Map(location=[100, 0], zoom_start=1.5)

# add markers to map
#for lat, lng, borough, neighborhood in zip(toronto_df_geocode['Latitude'], toronto_df_geocode['Longitude'], toronto_df_geocode['Borough'], toronto_df_geocode['Neighborhoods']):
#    label = '{}, {}'.format(neighborhood, borough)
#    label = folium.Popup(label, parse_html=True)
#    folium.CircleMarker(
#        [lat, lng],
#        radius=5,
#        popup=label,
#        color='blue',
#        fill=True,
#        fill_color='#3186cc',
#        fill_opacity=0.7,
#        parse_html=False).add_to(map_toronto)  
    
map